*
 {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

 html, body {
     font-family: 'Cousine', Courier, monospace;
 }

body {
    max-width: 900px;
    margin: 48px auto;
    background-color: black;
    color: rgb(218, 218, 218);
}

@media screen and (max-width: 600px) {
    body {
        padding: 32px;
    }
}

 h1, h2 {
     margin-bottom: 24px;
     color: #c9c9c9;
 }

h1 {
    font-size: 400%;
}

ul, li {
     margin-left: 32px;
     padding: 8px;
 }

a, a:link, a:visited {
    color: #00d0ff;
}

a:hover {
    color: orange;
}

a:active {
    color: #ff71ee;
}

.album > * {
    /* border: 1px dashed fuchsia; */
}

.albums {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 4em;
    list-style-position: outside;
    list-style: none;
    /* border: 1px dashed blue; */
    width: 100%;
}

.album {
    /* border: 1px solid green; */
    width: 100%;
    text-align: center;
    position: relative;
}

.album__image {
    width: 200px;
}

.album__title {
    background: black;
    position: absolute;
    bottom: -10px;
    left: 20px;
    padding: 8px 16px;
    border: 1px dashed orange;
}

.album__rating {

}

.album_not-listened-yet {
    opacity: 0.3;
}