*
 {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

 html, body {
     font-family: 'Cousine', Courier, monospace;
 }

body {
    max-width: 600px;
    margin: 48px auto;
    background-color: black;
    color: rgb(218, 218, 218);
}

@media screen and (max-width: 600px) {
    body {
        padding: 32px;
    }
}

 h1, h2 {
     margin-bottom: 24px;
     color: #ffe72f;
 }

h1 {
    font-size: 400%;
}

ul, li {
     margin-left: 32px;
     padding: 8px;
 }

a, a:link, a:visited {
    color: #00d0ff;
}

a:hover {
    color: orange;
}

a:active {
    color: #ff71ee;
}